.profile{
    height: 100vh;
    color: #fff;
}

.profile_body{
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding-top: 5%;
}

.profile_body > h1{
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
}

.profile_info{
    display: flex;
}

.profile_info > img {
    height: 100px;
}

.profile_details{
    color: #fff;
    margin-left: 25px;
    flex: 1;
}

.profile_details > h2{
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
}

.profile_user{
    margin-top: 20px;
}

.profile_user > h3{
    border-bottom: 1px solid #282c2d;
    padding-bottom: 10px;
}

.profile_signout{
    padding: 10px 20px;
    font-size: 1rem;
    width: 100%;
    margin-top: 5%;
    color: #fff;
    background-color: #e50914;
    border: none;
    cursor: pointer;
    font-weight: 600;
}

@media only screen and (max-width: 640px) {
    .profile_body{
        width: 80%;
        padding-top: 20%;
    }
}